<nav>
  <img src="http://i.imgur.com/96GXzhc.png">
  <%= link_to 'PLADEL', root_path, class: 'navLogo' %>

  <% if signed_in? %>
    <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'navLink' %>
    <%= link_to 'Settings', edit_user_path(current_user), class: 'navLink', remote: true if controller.controller_name == 'dashboards' %>
    <% if controller.controller_name == 'welcome' %>
      <%= link_to 'Dashboard', dashboard_path, class: 'navLink' %>
      <%= link_to 'About', about_path, class: 'navLink' %>
      <%= link_to 'Team', team_path, class: 'navLink' %>
    <% end %>
  <% else %>
    <%= link_to 'About', about_path, class: 'navLink' %>
    <%= link_to 'Team', team_path, class: 'navLink' %>
    <%= link_to 'Sign in', sign_in_path, class: 'navLink' %>
  <% end %>
</nav>
