<% provide(:title, 'Food Preferences') %>

<%= form_for current_user, url: user_path(current_user), method: :patch do |f| %>
    
  <div class="fish_meat">
    <p>Proteins</p>
    <%= f.collection_check_boxes :food_ids, Food.meat, :id, :name %>
    <%= f.collection_check_boxes :food_ids, Food.fish, :id, :name %>
  </div>

  <div class="fruits_vegetable">
    <p>Fruits & Vegetables</p>
    <%= f.collection_check_boxes :food_ids, Food.fruits, :id, :name %>
    <%= f.collection_check_boxes :food_ids, Food.vegetables, :id, :name %>
  </div>


  <div class="fats_spices_nuts">
    <p>Miscellaneous</p>
    <%= f.collection_check_boxes :food_ids, Food.fats, :id, :name %>
    <%= f.collection_check_boxes :food_ids, Food.spices, :id, :name %>
    <%= f.collection_check_boxes :food_ids, Food.nuts, :id, :name %>
  </div>


  <%= f.label :meals_per_day, 'How many meals do you eat per day?' %>
  <%= f.number_field :meals_per_day %>
  <%= f.submit 'Save Preferences' %>
<% end %>
