<% provide(:title, 'Dashboard') %>

<div class="dashboard">
  <%= render 'shared/modal' %>
  <input type="text" value="<%= ((current_user.sleep_composite / 0.3).round + (current_user.movement_composite / 100).round + composite_percent(current_user)) / 3 %>" class="dial" data-readOnly="true" data-fgColor="#75c9bc">
  <div class="health">
    <div class="letter overall"><%= current_user.health_gpa %></div>
  </div>

  <div class="sleep animated fadeInLeft">
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.sleep_composite / 0.30).round %>%">
        <p class="sleep_progress">Sleep <span class="percent"><%= "#{(current_user.sleep_composite / 0.30).round}%" %></span></p>
      </span>
    </div>
    <div class="letter"><%= current_user.sleep_score %></div>
  </div>

  <div class="movement animated fadeInLeft">
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.movement_composite / 100).round %>%">
        <p class="movement_progress">Movement <span class="percent"><%= "#{(current_user.movement_composite / 100).round}%" %></span></p>
      </span>
    </div>
    <div class="letter"><%= current_user.movement_score %></div>
  </div>

  <div class="nutrition animated fadeInLeft">
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= composite_percent(current_user) %>%">
        <p class="nutrition_progress">Nutrition <span class="percent"><%= "#{composite_percent(current_user)}%" %></span></p>
      </span>
    </div>
    <div class="letter"><%= current_user.nutrition_score %></div>
  </div>

  <%= link_to 'Sync data', sessions_path %>

  <div class="meals">
      <% current_user.active_meals.each do |meal| %>
        <div class="daily_meal">
          <img src="http://i.imgur.com/HWk1OSI.png">
          <li id="checkButton"><%= link_to "✓", meal_path(meal), method: :patch %></li>
          <li id="xButton"><%= link_to 'X', meal_path(meal), method: :delete %> </li>
        </div>
      <% end %>
  </div>
</div>
