<% provide(:title, 'Dashboard') %>

<div class="dashboard">
  <%= render 'shared/modal' %>
  <input type="text" value="<%= ((current_user.sleep_composite / 0.3).round + (current_user.movement_composite / 100).round + composite_percent(current_user)) / health_gpa_percent_denominator(current_user) %>" class="dial" data-readOnly="true" data-fgColor="#75c9bc">
  <div class="health tooltip-item">
    <div class="tooltip">
      <p>Your Health GPA tells you how healthy you are overall. It shows daily, weekly and all time GPA based upon your sleep, movement and nutrition. You can toggle between daily, weekly, monthly and all time by clicking on the buttons below the chart.</p>
  </div>
    <div class="letter overall"><%= current_user.health_gpa %></div>
  </div>

  <% unless sleep_composite_empty?(current_user) %>
    <div class="sleep animated fadeInLeft">
      <div class="progress-bar-indication tooltip-item">
        <span class="meter" style="width: <%= (current_user.sleep_composite / 0.30).round %>%">
          <p class="sleep_progress">Sleep <span class="percent"><%= "#{(current_user.sleep_composite / 0.30).round}%" %></span></p>
        </span>
        <div class="tooltip">
          <p>Your sleep score is calculated by the amount of sleep and quality. It is calculated daily, weekly and all time. You can toggle between daily, weekly, monthly and all time by clicking on the buttons below the chart.</p>
      </div>
      </div>
      <div class="letter"><%= current_user.sleep_score %></div>
    </div>
  <% end %>

  <% unless movement_composite_empty?(current_user) %>
    <div class="movement animated fadeInLeft">
      <div class="progress-bar-indication tooltip-item">
        <span class="meter" style="width: <%= (current_user.movement_composite / 100).round %>%">
          <p class="movement_progress">Movement <span class="percent"><%= "#{(current_user.movement_composite / 100).round}%" %></span></p>
        </span>
        <div class="tooltip">
          <p>Your movement score is calculated by the amount of movement and intensity. It is calculated daily, weekly and all time. You can toggle between daily, weekly, monthly and all time by clicking on the buttons below the chart.</p>
      </div>
      </div>
      <div class="letter"><%= current_user.movement_score %></div>
    </div>
  <% end %>

  <% unless composite_percent(current_user) == 0 %>
    <div class="nutrition animated fadeInLeft">
      <div class="progress-bar-indication tooltip-item">
        <span class="meter" style="width: <%= composite_percent(current_user) %>%">
          <p class="nutrition_progress">Nutrition <span class="percent"><%= "#{composite_percent(current_user)}%" %></span></p>
        </span>
        <div class="tooltip">
          <p>Your nutrition score is calculated by the percentage of meals eaten daily, weekly and all time. You can toggle between daily, weekly, monthly and all time by clicking on the buttons below the chart.</p>
        </div>
      </div>
      <div class="letter"><%= current_user.nutrition_score %></div>
    </div>
  <% end %>

  <%= link_to 'Sync data', sessions_path %>

  <div class="meal buttons">
    <%= link_to "✓", meal_path(current_user.active_meals.last), method: :patch, id: 'checkButton' %></li>
    <%= link_to 'X', meal_path(current_user.active_meals.last), method: :delete, id: 'xButton' %> </li>
  </div>
  <div class="meals tooltip-item">
      <% current_user.active_meals.each do |meal| %>
        <div class="daily_meal">
          <img src="http://i.imgur.com/HWk1OSI.png">
        </div>
        <div class="tooltip">
          <p>To report and track your meals you can click on each meal icon and select complete or incomplete. The meals will highlight when reported and you will see new empty icons appear in case you need to add another meal.</p>
      </div>
      <% end %>
  </div>
</div>
