<% provide(:title, 'Dashboard') %>

<div class="health">
  <%= current_user.health_gpa %>
</div>

<div class="sleep">
  <%= current_user.sleep_score %>
</div>

<div class="movement">
  <%= current_user.movement_score %>
</div>

<div class="nutrition">
  <%= current_user.nutrition_score %>
</div>

<div class="meals">
  <%= form_tag meals_path, method: :post %>
  <%= label_tag :total_meals, 'How many meals would you like to add?' %>
  <%= number_field_tag :total_meals %>
  <%= label_tag :on_diet, 'How many were on diet?' %>
  <%= number_field_tag :on_diet %>
  <%= submit_tag 'Complete meals' %>
</div>
