<% provide(:title, 'Dashboard') %>

<div class="dashboard">
  <div class="health">
    <%= current_user.health_gpa %>
  </div>

  <div class="sleep">
    <%= current_user.sleep_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.sleep_composite / 0.30).round %>%">
        <p class="sleep_progress">Sleep <span class="percent"><%= "#{(current_user.sleep_composite / 0.30).round}%" %></span></p>
      </span>
    </div>
  </div>

  <div class="movement">
    <%= current_user.movement_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.movement_composite / 100).round %>%">
        <p class="movement_progress">Movement <span class="percent"><%= "#{(current_user.movement_composite / 100).round}%" %></span></p>
      </span>
    </div>
  </div>

  <div class="nutrition">
    <%= current_user.nutrition_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= composite_percent(current_user) %>%">
        <p class="nutrition_progress">Nutrition <span class="percent"><%= "#{composite_percent(current_user)}%" %></span></p>
      </span>
    </div>
  </div>

  <%= link_to 'Sync data', sessions_path %>

  <div class="meals">
    <ul>
      <% current_user.active_meals.each do |meal| %>
        <div class="daily_meal">
          <li><%= button_to "Finish meal", meal_path(meal), method: :patch %></li>
          <li><%= button_to 'Did not finish', meal_path(meal), method: :delete %> </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
