<% provide(:title, 'Dashboard') %>

<div class="dashboard">
  <div class="health">
    <%= current_user.health_gpa %>
  </div>

  <div class="sleep">
    <%= current_user.sleep_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.sleep_composite / 0.30).round %>%">
        <p class="sleep_progress"><%= "#{(current_user.sleep_composite / 0.30).round}%" %></p>
      </span>
    </div>
  </div>

  <div class="movement">
    <%= current_user.movement_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= (current_user.movement_composite / 100).round %>%">
        <p class="movement_progress"><%= "#{(current_user.movement_composite / 100).round}%" %></p>
      </span>
    </div>
  </div>

  <div class="nutrition">
    <%= current_user.nutrition_score %>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= composite_percent(current_user) %>%">
        <p class="nutrition_progress"><%= "#{composite_percent(current_user)}%" %></p>
      </span>
    </div>
  </div>

  <%= link_to 'Sync data', sessions_path %>

  <%= button_to 'Add meal', meals_path %>

  <div class="meals">
    <ul>
      <% current_user.active_meals.each do |meal| %>
        <li class="daily_meal"><%= button_to 'Finish meal', meal_path(meal), method: :patch %></li>
      <% end %>
    </ul>
  </div>
</div>
