<!DOCTYPE html>
<html>
<head>
  <title>Pladel <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <nav>
      <img src="http://i.imgur.com/96GXzhc.png">
      <%= link_to 'PLADEL', root_path, class: 'navLogo' %>

      <% if signed_in? %>
          <%= link_to "Signed in as: #{current_user.email}", dashboard_path, class: 'navLink' %>
          <%= link_to 'Settings', edit_user_path(current_user), class: 'navLink' %>
          <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'navLink' %>
          <%= link_to 'About', about_path, class: 'navLink' if controller.controller_name == 'welcome' %>
          <%= link_to 'Team', team_path, class: 'navLink' if controller.controller_name == 'welcome' %>
      <% else %>
          <%= link_to 'About', about_path, class: 'navLink'%>
          <%= link_to 'Team', team_path, class: 'navLink'%>
          <%= link_to 'Sign in', sign_in_path, class: 'navLink'%>
      <% end %>
    </nav>

      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

    <%= yield %>

  </body>
</html>
