<!DOCTYPE html>
<html>
  <head>
    <title>Pladel <%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="icon" 
        type="image/png" 
        href="http://i.imgur.com/Q9qGiYi.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

  </body>
</html>
